## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [5]:
s ="Hi there Sam!"
S=s.split()
print(S)

['Hi', 'there', 'Sam!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [6]:
planet = "earth"

diameter = 12742

print("The diameter of the {} is {} kilometers.".format(planet , diameter))

The diameter of the earth is 12742 kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [ ]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [7]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

print(lst[3][1][2])

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [9]:
string = "user@domain.com"

def grabDomain(string):
    myString = ""
    found = False
    for i in string:
        if(found):
            myString = myString + i
            
        if(i == "@"):
            
            found = True
            
    return myString

print(grabDomain(string))

domain.com

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [10]:
def countFound(string , searchString):
    
    count = 0
    
    for i in range(len(string)):
        if(string[i:i+len(searchString)] == searchString):
            count = count + 1
            
    return count



def foundTrueFalse(string , searchString):
    
    count = countFound(string , searchString)
    
    if(count > 0):
        return True
    else:
        return False


print(foundTrueFalse("cksdog nkjsbak dog" , "dog"))

True

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [11]:
def countFound(string , searchString):
    
    count = 0
    
    for i in range(len(string)):
        if(string[i:i+len(searchString)] == searchString):
            count = count + 1
            
    return count


print(countFound("cksdog nkjsbak dog" , "dog"))

2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [ ]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [12]:
seq = ['soup','dog','salad','cat','great']

print(list(filter(lambda word:word[0] == 's' , seq)))

['soup', 'salad']

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [13]:
def caugthSpeed(speed):
    if(speed <= 60):
        return "no challan"
    elif(speed <= 80):
        return "small challan"
    elif(speed > 80):
        return "big challan"
    
print(caugthSpeed(60))
print(caugthSpeed(80))

no challan
small challan

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [14]:
employee_list=[10000,15000,50000,80000,150000]
sum=0
for i in employee_list:
  sum+=i
print(sum)
dict1={"Employeeid":"ID087","Employeename":"Mathi","Starting":"300000"}
dict2={"DeptName":"D1","DeptId":"DID2"}
dict1.update(dict2)
print(dict1)

305000
{'Employeeid': 'ID087', 'Employeename': 'Mathi', 'Starting': '300000', 'DepartmentName': 'D1', 'DepartmentId': 'DID1'}